*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
 
body {
  font-family: 'Roboto', sans-serif;
  background: #1a2a6c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 
header {
  background: linear-gradient(90deg, rgb(139, 14, 14) 37%, rgb(48, 29, 253) 61%, rgb(81, 27, 0) 100%);
  color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}
.card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 30px 0;
  padding: 20px 20px 60px;
}
.card h2{
  font-size: 27px;
  margin-bottom: 20px;
}
 
.card p{
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #333;
}
.card-sporty h2{
  color: #e04553;
 
}
.card-casual h2{
  color: #0d4ba3;
 
}
.card-formal h2{
  color: #512212;
 
}
.card a{
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
.card a:hover{
  cursor: pointer;
  opacity: 0.8;
}
.card-formal a{
  background-color: #512212;
}
.card-casual a{
    background-color: #0d4ba3;
}
.card-sporty a{
  background-color: #e04553;
}
.card-casual{
  background: #fff url('./images/casual.png') no-repeat center/200px;
}
.card-sporty{
  background: #fff url('./images/sporty.png') no-repeat center/200px;
}
.card-formal{
  background: #fff url('./images/formal.png') no-repeat center/200px;
}